<div class="element-container">
    <div class="row">

        <div class="col-xs-6 col-sm-4 col-md-3 picture-container" (click)="openQuizProfile()">
            <div class="thumbnail">
                <img *ngIf="quiz.imageSource" src="{{quiz.imageSource}}" alt="">
                <img *ngIf="!quiz.imageSource" src="https://images2.imgbox.com/92/77/FPyWGbNp_o.jpg" alt="">
            </div>
        </div>

        <div class="col-xs-6 col-sm-8 col-md-9 content-container">
            <div class="title" (click)="openQuizProfile()">{{quiz.title}}</div>
            <div class="description"> {{quiz.description}} </div>
        </div>

    </div>
</div>
