.title {
    font-weight: 700;
    font-size: 18px;
    color: rgb(61,71,79);
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #9f3f3f;
    color: white;
    padding: 10px;
    text-align: center;
}

.img-responsive {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

:host ::ng-deep .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #9f3f3f;
    border-color: #9f3f3f;
    color: white;
}

:host ::ng-deep .pagination > li > a, .pagination > li > span {
    color: #9f3f3f;
}

.body-content {
    margin-top: 50px;
    margin-bottom: 30px;
}
