<div class="element-container" (click)="openOnThisDayProfile()">
    <div class="row">

        <div class="col-xs-6 col-md-6 picture-container">
            <div class="thumbnail">
                <img *ngIf="onThisDay.imageSource" src="{{onThisDay.imageSource}}" alt="">
                <img *ngIf="!onThisDay.imageSource" src="https://images2.imgbox.com/92/77/FPyWGbNp_o.jpg" alt="">
            </div>
        </div>

        <div class="col-xs-6 col-md-6 content-container">
            <div class="title" (click)="openOnThisDayProfile()">{{onThisDay.subject | removeTagsFilter}}</div>
        </div>   

    </div>
</div>