<div class="element-container">
    <div class="row">

        <div class="col-xs-6 col-md-6 picture-container" (click)="openPostProfile()">
            <div class="thumbnail">
                <img *ngIf="post.imageSource" src="{{post.imageSource}}" alt="">
                <img *ngIf="!post.imageSource" src="https://images2.imgbox.com/92/77/FPyWGbNp_o.jpg" alt="">
            </div>
        </div>

        <div class="col-xs-6 col-md-6 content-container">
            <div class="title" (click)="openPostProfile()">{{post.title}}</div>
        </div>

    </div>
</div>