.title {
    font-weight: 600;
    font-size: 14px;
    color: rgb(61,71,79);
    line-height: 20px;
    text-overflow: ellipsis;
    height: 80px;
    max-height: 80px;
    overflow: hidden;
}

.content-container {
    padding-left: 0px;
}

.element-container {
    padding:10px;
}


.description {
    font-weight: 400;
    font-size: 16px;
    color: rgb(61,71,79);
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 80px;
}

.thumbnail {
    padding: 0px;
    margin-bottom: 0px;
}

img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.title:hover {
    cursor: pointer;
    color: #9f3f3f;
}

@media (max-width: 991px) {
    .title {
        line-height: 18px;
        height: 72px;
        max-height: 72px;
    }
}
