<div *ngIf="!loading">
    <div class='panel panel-primary'>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-4'>
                    <label class="text">Select league:</label>
                    <select class="form-control" id="leagues" (change)="getAllTeamsForLeague($event.target.value)">
                        <option selected value="Premier League">Premier League</option>
                        <option value="Bundesliga">Bundesliga</option>
                        <option value="La Liga">La Liga</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="text">Select team:</label>
                    <select (change)="getAllByTeam($event.target.value)" class="form-control" id="teams">
                        <option *ngFor='let team of teams' value="{{team.name}}">{{team.name}}</option>
                    </select>
                </div>

                <div class='col-md-4 filter'>
                    <label class="text">Search by name:</label>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>

            </div>
        </div>
    </div>

    <div class="container-layout">
        <div class="row">
            <div *ngIf='players && players.length'>
                <player class="col-xs-6 col-sm-6 col-md-4 col-lg-3" [player]="player" *ngFor='let player of players | playersFilter : listFilter'></player>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="loading">
    <div class="col-xs-12">
        <loading></loading>
    </div>
</div>




