<nav-menu></nav-menu>

<div class="container  body-content">
    
    <div class="row">
        <div class="col-xs-12">
            <img src="../../../../wwwroot/banner.jpg" class="img-responsive" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <router-outlet></router-outlet>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <right-side-bar></right-side-bar>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>&copy; 2017 - FootballTime</p>
</footer>


