.body-content{
    margin-top:50px;
    margin-bottom:50px;
}

.navbar-default {
    background-color: #9f3f3f;
    border: none;
    font-weight: 600;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9f3f3f;
    background-color: #e4e6e7;
    background-color: #f0f0f0;
}

.navbar-default .navbar-toggle {
    border-color: #e4e6e7;
    background-color: #e4e6e7;
}

@media (max-width: 767px) {
    .body-content {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}