<div *ngIf="!loading">
    <div class='panel panel-primary'>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-6'>
                    <label class="text">Select league:</label>
                    <select class="form-control" id="leagues" (change)="getAllTeamsForLeague($event.target.value)">
                        <option selected value="Premier League">Premier League</option>
                        <option value="Bundesliga">Bundesliga</option>
                        <option value="La Liga">La Liga</option>
                    </select>
                </div>

                <div class='col-md-6 filter'>
                    <label class="text">Search by name:</label>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>

            </div>
        </div>
    </div>

    <div class="container-layout">
        <div class="row">
            <div *ngIf='teams && teams.length'>
                <team class="col-xs-6 col-sm-6 col-md-4 col-lg-3" [team]="team" *ngFor='let team of teams | teamsFilter : listFilter'></team>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="loading">
    <div class="col-xs-12">
        <loading></loading>
    </div>
</div>


        