.panel {
    background-color: #9f3f3f;
    border: none;
    margin-bottom:0px;
}

.text {
    color: white;
}

.form-control {
    margin-bottom: 15px;
}

.filter{
    display:grid;
}

.container-layout {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}
